<div class="centreAlign">
  <button color = "primary" mat-button routerLink = "/login">Login</button>
  </div>
  
<form [formGroup] = "forgotPasswordForm" class="example-form">
  <h2>Password Reset</h2>
    <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="New Password" formControlName ="password">
    <mat-error *ngIf="forgotPasswordForm.controls.password.invalid && forgotPasswordForm.controls.password.errors.required">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Confirm Password" formControlName ="confirmPassword">
    <mat-error *ngIf="forgotPasswordForm.controls.confirmPassword.invalid && forgotPasswordForm.controls.confirmPassword.errors.required">
      Confirm Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="forgotPasswordForm.controls.confirmPassword.invalid && forgotPasswordForm.controls.confirmPassword.errors.NoPassswordMatch">
      Confirm Password is not matched with password
    </mat-error>
  </mat-form-field>

  <button  color = "primary" mat-button [disabled] = "!forgotPasswordForm.valid" (click) = "forgotPassword()">Change Password</button>

</form>
